@{
    Layout = "_LayoutTabela.cshtml";
    var conexão = WebMatrix.Data.Database.Open("SCS");

    var funcionario = conexão.Query("select * from FUNCIONARIO");

    conexão.Close();
}


<div class="col-lg-10">
    <h1> Funcionário </h1>

    <style>
        .botao {
            position: absolute;
            top: 20px;
            left: 50px;
            margin: 0px;
            padding: 0px;
        }

        #acoes {
            width: 15%; 
        }

    </style>

    <p class="botao">
        <a href="~/CadastrarFuncionario.cshtml" class="btn btn-success"> ✚ Adicionar Funcionário</a>
    </p>
    <br />
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Contato</th>
                <th>Nivel de Acesso</th>
                <th id="acoes">Status</th>

            </tr>
        </thead>
        @foreach (var f in funcionario)
        {
            <tr class="odd gradeX">
                <td>@f.Nome</td>
                <td>@f.Contato</td>
                <td>@f.NivelDeAcesso</td>

                <td class="btnAcoes">
                    <a href="~/DetalheFuncionario.cshtml?id=@f.id_func"><button type="button" class="glyphicon glyphicon-eye-open btn btn-default   "></button></a>
                    <a href="~/EditarFuncionario.cshtml?id=@f.id_func"><button type="button" class="glyphicon glyphicon-pencil   btn btn-primary  "></button></a>
                    <a href="~/DeletarFuncionario.cshtml?id=@f.id_func"><button type="button" class=" glyphicon glyphicon-remove btn btn-danger "></button></a>

                </td>

            </tr>
        }
    </table>
</div>

        <br />
