
@{
    Layout = "_Layout.cshtml";
}



<h4>
    <h4>

        <div class="container">
            <div class="col-md-10 col-md-offset-0">
                <table class="table">
                    <thead>
                        <tr>
                            <h2> Relatorio Serviço</h2>

                        </tr>
                    </thead>
                    <tbody>


                        <tr>
                            <td>
                                <form>
                                    
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="pwd">Preço de:</label>
                                            <div class="col-sm-4">
                                                <input type="valor" class="form-control" id="valor" placeholder="Informe o valor...">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2" for="email">Até:</label>
                                            <div class="col-sm-4">
                                                <input type="observacao" class="form-control" id="observacao" placeholder="informe o valor...">
                                                <br />
                                            </div>
                                        </div>

            </div>
        </div>
        <div class="col-lg-12">
            <button type="submit" class="btn btn-success"> Pequisar</button>
            <button type="reset" class="btn btn-default" name="reset">Limpar</button>
        </div>

        </div>
        </div>
        </form>


        </div>
        </form>
        </td>
        </tr>
        <tr>

            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
    </h4>
